*{ box-sizing: border-box; background-color: rgb(232, 232, 232); font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}

/* Nav Styles */


nav{
    position: fixed;
    top: 0;
    left: 0;
    translate: 0 -92px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 0 20px;
    width: 100%;
    height: 92px;
    box-shadow: 0 10px 20px rgb(0 0 0/10%);
    background: #ffffff;
    transition: 0.3s;
}

nav.visible{
    translate: 0;
}

nav > img{
    margin-left: 30px;
    width: 160px;
    /* height: 50px; */
    overflow: hidden;
    background-color: inherit;
}

.nav-items{
    background-color: inherit;
    display: flex;
    align-items: center;
    gap: 26px;
}

#toggle-button {
    display: none;
    cursor: pointer;
    font-size: 25px;
    color: #000000;
    background-color: #ffffff;
}

.nav-items > a{
    text-decoration: none;
    background-color: inherit;
    color: rgba(0, 0, 0, 0.96);
    font-size: larger;
    height: 72px;
    display: grid;
    place-items: center;
}

.nav-items > a:hover{
    color: rgba(128, 128, 128, 0.96);
}

@media (width <=500px){
    nav > img{
        margin-left: 0;
        height: 50px;
        width: 100px;
    }

    .nav-items {
        display: none;
        padding: 10px;
        border-radius: 5px;
        margin-top: 40px;
    }

    .nav-items > a{
        font-size: medium;
        height: 35px;
    }

    #toggle-button {
        display: block;
    }
}


/*  */
.container{
    display: flex;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    width: 25vw;
}

 /* Card Styling */
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    max-width: 650px;
    padding: 50px 30px 50px 30px;
    background: #ffffff;
    border-radius: 24px;
}

.card img{
    max-width: 1000px;
    width: 23vw;
    object-fit: contain;
    margin-top: -160px;
    margin-bottom: 20px;
    border-radius: inherit;
    box-shadow: 0 60px 40px rgb(0 0 0 /8%);
}

.card div, h2,h3,p{
    background-color: rgba(255, 255, 255, 0.014);
}

.card h3 { color: rgb(0 0 0 /90%);}

.card p { color: rgb(0 0 0 /70% );}

.card button {
    border:0;
    background: #bf0603;
    color: #f8f8f8;
    font-family: inherit;
    padding: 4% 7%;
    font-size: 16px;
    border-radius: 40px;
    max-width: 90%;
}

@media (width <= 850px) {
    .card{
        flex-direction: column;
        text-align: center;
        margin: 0;
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
    }
    .grid-container{
        display: grid;
    }
    .container{
        width: 80vw;
    }

    .card img{
        margin: -100px 0 30px 0;
        width: 100%;
        min-height: 0;
        max-width: 1000px;
    }
}


/* Hero styles */

.hero-section{
    margin-top: 100px;
}



/* Feed styles */

.feed-title{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-inline: 15px;
    margin-bottom: 30px;
}

.feed-container{
    display: flex;
    gap: 50px;
    flex-direction: column;
    align-items: center;
}

.feed-row{
    display: flex;
    flex-direction: row;
    gap: 10vw;
}



#course-header{
    margin-top: 100px;
    margin-bottom: 50px;
    font-family: 'Times New Roman', Times, serif;
}
.courses{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin-bottom: 30px;
}

.black-btn{
    margin-top: 10px;
    border: 0;
    background: #000000;
    color: #f8f8f8;
    font-family: inherit;
    padding: 4% 10%;
    font-size: 16px;
    border-radius: 4px;
    max-width: 90%;
}


@media (width<=500px) {
    .courses {
        flex-direction: column;
    }
}

.course, .course>img{
    width: 150px;
    border-radius: 10px;
}

@media (width <=1000px) {
    .feed-row{
        flex-direction: column;
        align-items: center;
        width: 80vw ;
    }
    .container{
        width: 80vw;
    }
    
}


.perks{
    display: flex;
    flex-direction: row;
    gap: 90px;
    justify-content: center;
}

@media (width<=500px) {
    .perks {
        flex-direction: column;
        gap: 40px;
    }
}

.perk > img{
    border-radius: 50%;
    width: 200px;
}

.perk>img:hover{
    scale: 1.05;
    transition: 0.3s ease-in-out;
}

/* Footer styles */

.footer{
    background-color: #000000;
    color: #ffffff;
    margin: 0;
}

.top{
    display: flex;
    flex-direction: row;
    gap: 200px;
    justify-content: center;
    background-color: inherit;
    margin-bottom: 70px;
    font-size: large;
}

@media (width<=500px) {
    .top {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
}

.connect, .connect>a{
    background-color: inherit;
    color: inherit;
}

.pages, .pages>a{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: inherit;
    color: inherit;
    text-decoration: none;
}

.terms, .terms>a{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: inherit;
    color: inherit;
    text-decoration: none;
}

.socials{
    background-color: inherit;
    color: #ffffff;
}

.socials>a{
    background-color: inherit;
    border-radius: 4px;
    color: #ffffff;
    text-decoration: none;
}

.social-icon{
    width: 30px;
    background-color: inherit;
}

.bottom{
    display: flex;
    justify-content: center;
    background-color: inherit;
    border-top: 1px solid white;
    height: 70px;
}